* {
	margin: 0px;
	padding: 0px;
  font-family: verdana;
}

h1, h2, h3, h4, h5, p, ul, ol {
	padding: 5px;
}

h1, h2, h3, h4, h5, a {
	color: maroon;
}

hr {
  height: 2px;
	margin: 5px;
	border: 0px;
	background: grey;
}

div.textsize {
	display: inline-block;
  text-align: right;
	vertical-align: top;
  margin-top: 5px;
	width: 600px;
}

div.textsize a {
	color: gold;
}

div.textsize li {
	color: white;
	display: inline-block;
  list-style-type: none;
}

div.textsize ul {
	margin-bottom: 5px;
}

input {
	padding: 2px;
}

nav {
	background: #e6e6e6;
	padding: 7px;
	border-bottom: 1px solid grey;
}

nav li {
	display: inline;
	margin: 0px 10px;
	font-weight: bold;
}

nav a {
	text-decoration: none;
	border-right: 1px solid grey;
	padding-right: 15px;
	color: #6d6c6c;
}

ul.sidenav {
	margin: 0px;
	padding: 15px, 10px;
}

header {
	background-color: #7a1d1d;
}

header h2 {
	color: white;
  margin: 0px;
	display: inline-block;
}

img.header-logo {
	display: inline-block;
	width: 500px;
}

div.container {
	margin: 30px 25px;

}


div.box-right {
	display: inline-block;
	width: 900px;
	padding: 0px 25px 25px 25px;
}

div.box-right h1, h2, h3, h4, h5, p {
	padding: 10px 5px;
}

div.box-right ul, ol  {
	padding: 0px 40px;
}

div.box-left {
	display: inline-block;
	vertical-align: top;
	background: #e7e7e7;
	padding: 10px 25px;
	width: 140px;
	border: 1px solid #d4d4d4;
	margin: 10px 5px;
}
