* {
	padding: 0px;
	margin: 0px;
}

body {
	background-color: white;
}

li {
  color: black;
  margin-left: 30px;
}

li span {
  color: blue;
}

h1 {
	font-family: Times;
	font-size: 40px;
	line-height: 70px;
}

.articles {
	color: #A00000;
}

.link {
	color-blue;
	text-decoration: underline;
}
#wrapper {
	width: 1000px;
	margin: 0px, auto;
  padding: 10px;
}
#header {
	background-color: #D0D0D0;
	border-radius: 20px;
	margin: 0px, auto;
	height:70px;
	font-size: 2.5em;
	padding-left:10px;
}
#sidebarlist {
	margin-left: 20px;
}

#sidebar {
	font-size: 1.0em;
	width: 230px;
	color: blue;
	background-color: #D0D0D0;
	border-radius: 20px;
	height: 320px;
	margin-top: 20px;
	display: inline-block;
	vertical-align: top;
	padding-left: 10px;
	padding-top: 20px;

}

#myessays {
	width: 720px;
	background-color: #A0A0A0;
	border-radius: 20px;
	height: 400px;
	margin-top: 20px;
	margin-left: 15px;
	display:inline-block;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 20px;
}

#contact {
	background-color: #D0D0D0;
	border-radius: 20px;
	margin: 0px, auto;
	height:60px;
	font-size: 1.0em;
	margin-top: 20px;
	padding-left: 10px;
	padding-top: 20px;
